body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.video-fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

li{
    color: chocolate;
    font-size: 25px;
}